@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Permanent+Marker&family=Pixelify+Sans:wght@400..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container{
    background-color: white;
    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
    border-radius: 20px;

}

.lower{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    border-radius: 15px;
}

h1{
    color: hsl(218, 44%, 22%);
    word-wrap: 1.5;
    font-size: 20px;
    font-weight: 700;
}

p{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}



